<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradoon.bookMall.dao.PmsProductCategoryMapper">
    <insert id="insertInfo">
        insert into pms_product_category(
        <trim suffixOverrides=",">
            <if test="id!=null">
            `id`,
            </if>
            <if test="parentId!=null">
                `parent_id`,
            </if>
            <if test="name!=null">
                `name`,
            </if>
            <if test="level!=null">
                `level`,
            </if>
            <if test="productCount!=null">
            `product_count`,
            </if>
            <if test="productUnit!=null">
                `product_unit`,
            </if>
            <if test="navStatus!=null">
                `nav_status`,
            </if>
            <if test="showStatus!=null">
                `show_status`,
            </if>

            <if test="sort!=null">
             `sort`,
            </if>

            <if test="icon!=null">
                `icon`,
            </if>

            <if test="keywords!=null">
                `keywords`,
            </if>

            <if test="description!=null">
                `description`
            </if>
        </trim>
        )
        values(
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="parentId!=null">
                #{parentId},
            </if>
            <if test="name!=null">
                #{name},
            </if>
            <if test="level!=null">
                #{level},
            </if>
            <if test="productCount!=null">
                #{productCount},
            </if>
            <if test="productUnit!=null">
                #{productUnit},
            </if>
            <if test="navStatus!=null">
                #{navStatus},
            </if>
            <if test="showStatus!=null">
                #{showStatus},
            </if>

            <if test="sort!=null">
                #{sort},
            </if>

            <if test="icon!=null">
                #{icon},
            </if>

            <if test="keywords!=null">
                #{keywords},
            </if>

            <if test="description!=null">
                #{description}
            </if>
        </trim>
        )
    </insert>
    <update id="updateByInfo">
        update pms_product_category
        <set>
            <if test="pmspc.parentId!=null">
                `parent_id`=#{pmspc.parentId},
            </if>
            <if test="pmspc.name!=null">
                `name`=#{pmspc.name},
            </if>
            <if test="pmspc.level!=null">
                `level`=#{pmspc.level},
            </if>
            <if test="pmspc.productCount!=null">
                `product_count`=#{pmspc.productCount},
            </if>
            <if test="pmspc.productUnit!=null">
                `product_unit`=#{pmspc.productUnit},
            </if>
            <if test="pmspc.navStatus!=null">
                `nav_status`=#{pmspc.navStatus},
            </if>
            <if test="pmspc.showStatus!=null">
                `show_status`=#{pmspc.showStatus},
            </if>

            <if test="pmspc.sort!=null">
                `sort`=#{pmspc.sort},
            </if>

            <if test="pmspc.icon!=null">
                `icon`=#{pmspc.icon},
            </if>

            <if test="pmspc.keywords!=null">
                `keywords`=#{pmspc.keywords},
            </if>

            <if test="pmspc.description!=null">
                `description`=#{pmspc.description}
            </if>
        </set>
            <where>
                <if test="ids.size!=0">
                    id in
                <foreach collection="ids" index="index" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
                </if>
            </where>
    </update>
    <delete id="delete">
        delete
        from pms_product_category
        where id=#{id}
    </delete>

    <select id="findByInfo" resultType="com.tradoon.bookMall.model.PmsProductCategory">
        SELECT
            `id` as id,
            `parent_id` as parentId ,
            `name` as name,
            `level` as level ,
            `product_count` as productCount,
            `product_unit` as productUnit,
            `nav_status` as navStatus,
            `show_status` as showStatus ,
            `sort` as sort,
            `icon` as icon,
            `keywords` as keywords,
            `description` as description
        FROM
            pms_product_category
        <where>
              <if test="parentId!=null">
            parent_id = #{parentId}
              </if>
          <if test="name!=null">
          AND NAME = #{name}
          </if>
          <if test="productCount!=null ">
          AND product_count = #{productCount}
          </if>
          <if test="productUnit!=null">
          AND product_unit = #{productUnit}
          </if>
          <if test="navStatus!=null">
              AND nav_status = #{navStatus}
          </if>
          <if test="showStatus!=null">
              AND show_status = #{showStatus}
          </if>
          <if test="keywords!=null">
              AND keywords LIKE concat('%',#{keywords},'%')
          </if>
        </where>

        <if test="sort!=null">
        ORDER BY
            sort
        </if>

    </select>
</mapper>