<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradoon.bookMall.dao.PmsProductMapper">

    <insert id="insertSelective">
        insert into pms_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="brandId != null">
                publish_house_id,
            </if>
            <if test="productCategoryId != null">
                product_category_id,
            </if>
            <if test="feightTemplateId != null">
                feight_template_id,
            </if>
            <if test="productAttributeCategoryId != null">
                product_attribute_category_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="productSn != null">
                product_sn,
            </if>
            <if test="deleteStatus != null">
                delete_status,
            </if>
            <if test="publishStatus != null">
                publish_status,
            </if>
            <if test="newStatus != null">
                new_status,
            </if>
            <if test="recommandStatus != null">
                recommand_status,
            </if>
            <if test="verifyStatus != null">
                verify_status,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="sale != null">
                sale,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="promotionPrice != null">
                promotion_price,
            </if>
            <if test="giftGrowth != null">
                gift_growth,
            </if>
            <if test="giftPoint != null">
                gift_point,
            </if>
            <if test="usePointLimit != null">
                use_point_limit,
            </if>
            <if test="subTitle != null">
                sub_title,
            </if>
            <if test="originalPrice != null">
                original_price,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="lowStock != null">
                low_stock,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="previewStatus != null">
                preview_status,
            </if>
            <if test="serviceIds != null">
                service_ids,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="note != null">
                note,
            </if>
            <if test="albumPics != null">
                album_pics,
            </if>
            <if test="detailTitle != null">
                detail_title,
            </if>
            <if test="promotionStartTime != null">
                promotion_start_time,
            </if>
            <if test="promotionEndTime != null">
                promotion_end_time,
            </if>
            <if test="promotionPerLimit != null">
                promotion_per_limit,
            </if>
            <if test="promotionType != null">
                promotion_type,
            </if>
            <if test="brandName != null">
                brand_name,
            </if>
            <if test="brandName != null">
                publish_house_name,
            </if>
            <if test="productCategoryName != null">
                product_category_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="detailDesc != null">
                detail_desc,
            </if>
            <if test="detailHtml != null">
                detail_html,
            </if>
            <if test="detailMobileHtml != null">
                detail_mobile_html,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateTime!=null">
                update_time
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="productCategoryId != null">
                #{productCategoryId,jdbcType=BIGINT},
            </if>
            <if test="feightTemplateId != null">
                #{feightTemplateId,jdbcType=BIGINT},
            </if>
            <if test="productAttributeCategoryId != null">
                #{productAttributeCategoryId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="productSn != null">
                #{productSn,jdbcType=VARCHAR},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus,jdbcType=INTEGER},
            </if>
            <if test="publishStatus != null">
                #{publishStatus,jdbcType=INTEGER},
            </if>
            <if test="newStatus != null">
                #{newStatus,jdbcType=INTEGER},
            </if>
            <if test="recommandStatus != null">
                #{recommandStatus,jdbcType=INTEGER},
            </if>
            <if test="verifyStatus != null">
                #{verifyStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="sale != null">
                #{sale,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="promotionPrice != null">
                #{promotionPrice,jdbcType=DECIMAL},
            </if>
            <if test="giftGrowth != null">
                #{giftGrowth,jdbcType=INTEGER},
            </if>
            <if test="giftPoint != null">
                #{giftPoint,jdbcType=INTEGER},
            </if>
            <if test="usePointLimit != null">
                #{usePointLimit,jdbcType=INTEGER},
            </if>
            <if test="subTitle != null">
                #{subTitle,jdbcType=VARCHAR},
            </if>
            <if test="originalPrice != null">
                #{originalPrice,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="lowStock != null">
                #{lowStock,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=DECIMAL},
            </if>
            <if test="previewStatus != null">
                #{previewStatus,jdbcType=INTEGER},
            </if>
            <if test="serviceIds != null">
                #{serviceIds,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="albumPics != null">
                #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="detailTitle != null">
                #{detailTitle,jdbcType=VARCHAR},
            </if>
            <if test="promotionStartTime != null">
                #{promotionStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="promotionEndTime != null">
                #{promotionEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="promotionPerLimit != null">
                #{promotionPerLimit,jdbcType=INTEGER},
            </if>
            <if test="promotionType != null">
                #{promotionType,jdbcType=INTEGER},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="productCategoryName != null">
                #{productCategoryName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailDesc != null">
                #{detailDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailHtml != null">
                #{detailHtml,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailMobileHtml != null">
                #{detailMobileHtml,jdbcType=LONGVARCHAR},
            </if>
            <if test="createTime!=null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime!=null">
                #{updateTime,jdbcType=DATE}
            </if>

        </trim>
    </insert>
    <select id="findBySelective" resultType="com.tradoon.bookMall.model.PmsProduct">
        select
        <if test="id != null">
            id as id,
        </if>
        <if test="brandId != null">
            brand_id as brandId ,
        </if>
        <if test="brandId != null">
            publish_house_id  as publishHouseId,
        </if>
        <if test="productCategoryId != null">
            product_category_id as productCategoryId,
        </if>
        <if test="feightTemplateId != null">
            feight_template_id as feightTemplateId,
        </if>
        <if test="productAttributeCategoryId != null">
            product_attribute_category_id as productAttributeCategoryId,
        </if>
        <if test="name != null">
            name as name ,
        </if>
        <if test="pic != null">
            pic as pic,
        </if>
        <if test="productSn != null">
            product_sn as productSn,
        </if>
        <if test="deleteStatus != null">
            delete_status as deleteStatus,
        </if>
        <if test="publishStatus != null">
            publish_status as publishStatus,
        </if>
        <if test="newStatus != null">
            new_status as newStatus,
        </if>
        <if test="recommandStatus != null">
            recommand_status as recommandStatus,
        </if>
        <if test="verifyStatus != null">
            verify_status as verifyStatus,
        </if>
        <if test="sort != null">
            sort as sort,
        </if>
        <if test="sale != null">
            sale as sale,
        </if>
        <if test="price != null">
            price as price,
        </if>
        <if test="promotionPrice != null">
            promotion_price as promotionPrice,
        </if>
        <if test="giftGrowth != null">
            gift_growth as giftGrowth,
        </if>
        <if test="giftPoint != null">
            gift_point as giftPoint,
        </if>
        <if test="usePointLimit != null">
            use_point_limit as usePointLimit,
        </if>
        <if test="subTitle != null">
            sub_title as subTitle,
        </if>
        <if test="originalPrice != null">
            original_price as originalPrice,
        </if>
        <if test="stock != null">
            stock as stock,
        </if>
        <if test="lowStock != null">
            low_stock as lowStock,
        </if>
        <if test="unit != null">
            unit as unit,
        </if>
        <if test="weight != null">
            weight as weight,
        </if>
        <if test="previewStatus != null">
            preview_status as previewStatus,
        </if>
        <if test="serviceIds != null">
            service_ids as serviceIds,
        </if>
        <if test="keywords != null">
            keywords as keywords,
        </if>
        <if test="note != null">
            note as note,
        </if>
        <if test="albumPics != null">
            album_pics as albumPics,
        </if>
        <if test="detailTitle != null">
            detail_title as detailTitle,
        </if>
        <if test="promotionStartTime != null">
            promotion_start_time as promotionStartTime,
        </if>
        <if test="promotionEndTime != null">
            promotion_end_time as promotionEndTime,
        </if>
        <if test="promotionPerLimit != null">
            promotion_per_limit as promotionPerLimit,
        </if>
        <if test="promotionType != null">
            promotion_type as promotionType,
        </if>
        <if test="brandName != null">
            brand_name as brandName,
        </if>
        <if test="brandName != null">
            publish_house_name as publishHouseName ,
        </if>
        <if test="productCategoryName != null">
            product_category_name as productCategoryName ,
        </if>
        <if test="description != null">
            description as description,
        </if>
        <if test="detailDesc != null">
            detail_desc as detailDesc,
        </if>
        <if test="detailHtml != null">
            detail_html as detailHtml,
        </if>
        <if test="detailMobileHtml != null">
            detail_mobile_html as detailMobileHtml,
        </if>
        <if test="createTime!=null">
            create_time as createTime,
        </if>
        <if test="updateTime!=null">
            update_time as updateTime
        </if>
        from pms_product
        <where>
            <if test="publishStatus != null">
                publish_status=#{publishStatus}
            </if>
            <if test="verifyStatus != null">
                and verify_status=#{verifyStatus},
            </if>
            <if test="keywords != null">
               and  keywords like concat('%',#{keywords},'%')
            </if>
            <if test="productSn != null">
               and  product_sn=#{productSn}
            </if>
            <if test="productCategoryId != null">
                and product_category_id=#{productCategoryId}
            </if>
            <if test="brandId != null">
               and brand_id=#{brandId},
            </if>
            <if test="brandId != null">
               and publish_house_id =#{publishHouseId}
            </if>
        </where>

    </select>
</mapper>