<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradoon.bookMall.dao.PmsProductMapper">

    <insert id="insertSelective">
        insert into pms_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="brandId != null">
                publish_house_id,
            </if>
            <if test="productCategoryId != null">
                product_category_id,
            </if>
            <if test="feightTemplateId != null">
                feight_template_id,
            </if>
            <if test="productAttributeCategoryId != null">
                product_attribute_category_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="productSn != null">
                product_sn,
            </if>
            <if test="deleteStatus != null">
                delete_status,
            </if>
            <if test="publishStatus != null">
                publish_status,
            </if>
            <if test="newStatus != null">
                new_status,
            </if>
            <if test="recommandStatus != null">
                recommand_status,
            </if>
            <if test="verifyStatus != null">
                verify_status,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="sale != null">
                sale,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="promotionPrice != null">
                promotion_price,
            </if>
            <if test="giftGrowth != null">
                gift_growth,
            </if>
            <if test="giftPoint != null">
                gift_point,
            </if>
            <if test="usePointLimit != null">
                use_point_limit,
            </if>
            <if test="subTitle != null">
                sub_title,
            </if>
            <if test="originalPrice != null">
                original_price,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="lowStock != null">
                low_stock,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="previewStatus != null">
                preview_status,
            </if>
            <if test="serviceIds != null">
                service_ids,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="note != null">
                note,
            </if>
            <if test="albumPics != null">
                album_pics,
            </if>
            <if test="detailTitle != null">
                detail_title,
            </if>
            <if test="promotionStartTime != null">
                promotion_start_time,
            </if>
            <if test="promotionEndTime != null">
                promotion_end_time,
            </if>
            <if test="promotionPerLimit != null">
                promotion_per_limit,
            </if>
            <if test="promotionType != null">
                promotion_type,
            </if>
            <if test="brandName != null">
                brand_name,
            </if>
            <if test="brandName != null">
                publish_house_name,
            </if>
            <if test="productCategoryName != null">
                product_category_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="detailDesc != null">
                detail_desc,
            </if>
            <if test="detailHtml != null">
                detail_html,
            </if>
            <if test="detailMobileHtml != null">
                detail_mobile_html,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateTime!=null">
                update_time
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="productCategoryId != null">
                #{productCategoryId,jdbcType=BIGINT},
            </if>
            <if test="feightTemplateId != null">
                #{feightTemplateId,jdbcType=BIGINT},
            </if>
            <if test="productAttributeCategoryId != null">
                #{productAttributeCategoryId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="productSn != null">
                #{productSn,jdbcType=VARCHAR},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus,jdbcType=INTEGER},
            </if>
            <if test="publishStatus != null">
                #{publishStatus,jdbcType=INTEGER},
            </if>
            <if test="newStatus != null">
                #{newStatus,jdbcType=INTEGER},
            </if>
            <if test="recommandStatus != null">
                #{recommandStatus,jdbcType=INTEGER},
            </if>
            <if test="verifyStatus != null">
                #{verifyStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="sale != null">
                #{sale,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="promotionPrice != null">
                #{promotionPrice,jdbcType=DECIMAL},
            </if>
            <if test="giftGrowth != null">
                #{giftGrowth,jdbcType=INTEGER},
            </if>
            <if test="giftPoint != null">
                #{giftPoint,jdbcType=INTEGER},
            </if>
            <if test="usePointLimit != null">
                #{usePointLimit,jdbcType=INTEGER},
            </if>
            <if test="subTitle != null">
                #{subTitle,jdbcType=VARCHAR},
            </if>
            <if test="originalPrice != null">
                #{originalPrice,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="lowStock != null">
                #{lowStock,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=DECIMAL},
            </if>
            <if test="previewStatus != null">
                #{previewStatus,jdbcType=INTEGER},
            </if>
            <if test="serviceIds != null">
                #{serviceIds,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="albumPics != null">
                #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="detailTitle != null">
                #{detailTitle,jdbcType=VARCHAR},
            </if>
            <if test="promotionStartTime != null">
                #{promotionStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="promotionEndTime != null">
                #{promotionEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="promotionPerLimit != null">
                #{promotionPerLimit,jdbcType=INTEGER},
            </if>
            <if test="promotionType != null">
                #{promotionType,jdbcType=INTEGER},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="productCategoryName != null">
                #{productCategoryName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailDesc != null">
                #{detailDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailHtml != null">
                #{detailHtml,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailMobileHtml != null">
                #{detailMobileHtml,jdbcType=LONGVARCHAR},
            </if>
            <if test="createTime!=null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime!=null">
                #{updateTime,jdbcType=DATE}
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        update pms_product
        <set>
            <if test="pmsProduct.brandId != null">
                brand_id=#{pmsProduct.brandId},
            </if>
            <if test="pmsProduct.brandId != null">
                publish_house_id=#{pmsProduct.brandId},
            </if>
            <if test="pmsProduct.productCategoryId != null">
                product_category_id=#{pmsProduct.productCategoryId},
            </if>
            <if test="pmsProduct.feightTemplateId != null">
                feight_template_id=#{pmsProduct.feightTemplateId},
            </if>
            <if test="pmsProduct.productAttributeCategoryId != null">
                product_attribute_category_id=#{pmsProduct.productAttributeCategoryId},
            </if>
            <if test="pmsProduct.name != null">
                name=#{pmsProduct.name},
            </if>
            <if test="pmsProduct.pic != null">
                pic=#{pmsProduct.pic},
            </if>
            <if test="pmsProduct.productSn != null">
                product_sn=#{pmsProduct.productSn},
            </if>
            <if test="pmsProduct.deleteStatus != null">
                delete_status=#{pmsProduct.deleteStatus},
            </if>
            <if test="pmsProduct.publishStatus != null">
                publish_status=#{pmsProduct.publishStatus},
            </if>
            <if test="pmsProduct.newStatus != null">
                new_status=#{pmsProduct.newStatus},
            </if>
            <if test="pmsProduct.recommandStatus != null">
                recommand_status=#{pmsProduct.recommandStatus},
            </if>
            <if test="pmsProduct.verifyStatus != null">
                verify_status=#{pmsProduct.verifyStatus},
            </if>
            <if test="pmsProduct.sort != null">
                sort=#{pmsProduct.sort},
            </if>
            <if test="pmsProduct.sale != null">
                sale=#{pmsProduct.sale},
            </if>
            <if test="pmsProduct.price != null">
                price=#{pmsProduct.price},
            </if>
            <if test="pmsProduct.promotionPrice != null">
                promotion_price=#{pmsProduct.promotionPrice},
            </if>
            <if test="pmsProduct.giftGrowth != null">
                gift_growth=#{pmsProduct.giftGrowth},
            </if>
            <if test="pmsProduct.giftPoint != null">
                gift_point=#{pmsProduct.giftPoint},
            </if>
            <if test="pmsProduct.usePointLimit != null">
                use_point_limit=#{pmsProduct.usePointLimit},
            </if>
            <if test="pmsProduct.subTitle != null">
                sub_title=#{pmsProduct.subTitle},
            </if>
            <if test="pmsProduct.originalPrice != null">
                original_price=#{pmsProduct.originalPrice},
            </if>
            <if test="pmsProduct.stock != null">
                stock=#{pmsProduct.stock},
            </if>
            <if test="pmsProduct.lowStock != null">
                low_stock=#{pmsProduct.lowStock},
            </if>
            <if test="pmsProduct.unit != null">
                unit=#{pmsProduct.unit},
            </if>
            <if test="pmsProduct.weight != null">
                weight=#{pmsProduct.weight},
            </if>
            <if test="pmsProduct.previewStatus != null">
                preview_status=#{pmsProduct.previewStatus},
            </if>
            <if test="pmsProduct.serviceIds != null">
                service_ids=#{pmsProduct.serviceIds},
            </if>
            <if test="pmsProduct.keywords != null">
                keywords=#{pmsProduct.keywords},
            </if>
            <if test="pmsProduct.note != null">
                note=#{pmsProduct.note},
            </if>
            <if test="pmsProduct.albumPics != null">
                album_pics=#{pmsProduct.albumPics},
            </if>
            <if test="pmsProduct.detailTitle != null">
                detail_title=#{pmsProduct.detailTitle},
            </if>
            <if test="pmsProduct.promotionStartTime != null">
                promotion_start_time=#{pmsProduct.promotionStartTime},
            </if>
            <if test="pmsProduct.promotionEndTime != null">
                promotion_end_time=#{pmsProduct.promotionEndTime},
            </if>
            <if test="pmsProduct.promotionPerLimit != null">
                promotion_per_limit=#{pmsProduct.promotionPerLimit},
            </if>
            <if test="pmsProduct.promotionType != null">
                promotion_type=#{pmsProduct.promotionType},
            </if>
            <if test="pmsProduct.brandName != null">
                brand_name=#{pmsProduct.brandName},
            </if>
            <if test="pmsProduct.brandName != null">
                publish_house_name=#{pmsProduct.brandName},
            </if>
            <if test="pmsProduct.productCategoryName != null">
                product_category_name=#{pmsProduct.productCategoryName},
            </if>
            <if test="pmsProduct.description != null">
                description=#{pmsProduct.description},
            </if>
            <if test="pmsProduct.detailDesc != null">
                detail_desc=#{pmsProduct.detailDesc},
            </if>
            <if test="pmsProduct.detailHtml != null">
                detail_html=#{pmsProduct.detailHtml},
            </if>
            <if test="pmsProduct.detailMobileHtml != null">
                detail_mobile_html=#{pmsProduct.detailMobileHtml},
            </if>
            <if test="pmsProduct.createTime!=null">
                create_time=#{pmsProduct.createTime},
            </if>
            <if test="pmsProduct.updateTime!=null">
                update_time=#{pmsProduct.updateTime}
            </if>
        </set>

        where
           id=#{pmsProduct.id}
            <if test="ids.size>0">
            <foreach collection="ids" open="or id in (" close=")" item="item" separator=",">
                #{item}
            </foreach>
            </if>
    </update>

    <select id="findBySelective" resultType="com.tradoon.bookMall.model.PmsProduct">
        select
            id as id,
            brand_id as brandId ,
            publish_house_id  as publishHouseId,
            product_category_id as productCategoryId,
            feight_template_id as feightTemplateId,
            product_attribute_category_id as productAttributeCategoryId,
            name as name ,
            pic as pic,
            product_sn as productSn,
            delete_status as deleteStatus,
            publish_status as publishStatus,
            new_status as newStatus,
            recommand_status as recommandStatus,
            verify_status as verifyStatus,
            sort as sort,
            sale as sale,
            price as price,
            promotion_price as promotionPrice,
            gift_growth as giftGrowth,
            gift_point as giftPoint,
            use_point_limit as usePointLimit,
            sub_title as subTitle,
            original_price as originalPrice,
            stock as stock,
            low_stock as lowStock,
            unit as unit,
            weight as weight,
            preview_status as previewStatus,
            service_ids as serviceIds,
            keywords as keywords,
            note as note,
            album_pics as albumPics,
            detail_title as detailTitle,
            promotion_start_time as promotionStartTime,
            promotion_end_time as promotionEndTime,
            promotion_per_limit as promotionPerLimit,
            promotion_type as promotionType,
            brand_name as brandName,
            publish_house_name as publishHouseName ,
            product_category_name as productCategoryName ,
            description as description,
            detail_desc as detailDesc,
            detail_html as detailHtml,
            detail_mobile_html as detailMobileHtml,
            create_time as createTime,
            update_time as updateTime
        from pms_product
        <where>
          <if test="deleteStatus!=null">
              delete_status=#{deleteStatus}
          </if>
            <if test="publishStatus != null">
               and publish_status=#{publishStatus}
            </if>
            <if test="verifyStatus != null">
                and verify_status=#{verifyStatus}
            </if>
            <if test="keywords != null">
               and  keywords like concat('%',#{keywords},'%')
            </if>
            <if test="productSn != null">
               and  product_sn=#{productSn}
            </if>
            <if test="productCategoryId != null">
                and product_category_id=#{productCategoryId}
            </if>
            <if test="brandId != null">
               and brand_id=#{brandId}
            </if>
            <if test="brandId != null">
               and publish_house_id =#{brandId}
            </if>
        </where>
    </select>
<!--    <select id="findProjectAllInfo" resultType="com.tradoon.bookMall.model.PmsProductResult">-->
<!--        SELECT *,-->
<!--               pc.parent_id cateParentId,-->
<!--               l.id ladder_id,l.product_id ladder_product_id,l.discount ladder_discount,l.count ladder_count,l.price ladder_price,-->
<!--               pf.id full_id,pf.product_id full_product_id,pf.full_price full_full_price,pf.reduce_price full_reduce_price,-->
<!--               m.id member_id,m.product_id member_product_id,m.member_level_id member_member_level_id,m.member_price member_member_price,m.member_level_name member_member_level_name,-->
<!--               s.id sku_id,s.product_id sku_product_id,s.price sku_price,s.low_stock sku_low_stock,s.pic sku_pic,s.sale sku_sale,s.sku_code sku_sku_code,s.stock sku_stock,s.sp_data sku_sp_data,-->
<!--               a.id attribute_id,a.product_id attribute_product_id,a.product_attribute_id attribute_product_attribute_id,a.value attribute_value-->
<!--        FROM pms_product p-->
<!--                 LEFT JOIN pms_product_category pc on pc.id = p.product_category_id-->
<!--                 LEFT JOIN pms_product_ladder l ON p.id = l.product_id-->
<!--                 LEFT JOIN pms_product_full_reduction pf ON pf.product_id=p.id-->
<!--                 LEFT JOIN pms_member_price m ON m.product_id = p.id-->
<!--                 LEFT JOIN pms_sku_stock s ON s.product_id = p.id-->
<!--                 LEFT JOIN pms_product_attribute_value a ON a.product_id=p.id-->
<!--        WHERE p.id=#{id};-->

<!--    </select>-->

</mapper>